.btn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;

    &-primary {
        background-color: var(--primary-color);
        color: #ffffff;
        padding: 9px 20px;
        outline: 2px solid;
        outline-color: transparent;
        outline-offset: -1;
        
        transition: all .3s ease-in-out;
        
        &:is(:hover) {
            outline-offset: 2px;
            outline-color: var(--primary-color);
        }
        &:is(:active, :focus) {
            outline-offset: 3px;
        }
    }

    &-border {
        color: var(--primary-color);
        background-color: transparent;
        border: 1px solid var(--primary-color);
        transition: all .3s ease-in-out;
        
        &:is(:hover, :active) {
            background-color: var(--primary-color);
            color: #ffffff;
        }
    }

    &-icon, &-clear {
        background-color: transparent;
        padding: 0;
        box-shadow: none;
        border: none;
        color: inherit;
    }
}