.news-bar {
    background-color: var(--danger-color);
    color: #ffffff;

    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;

    font-size: 20px;

    .btn {
        background-color: #ffffff;
        color: var(--danger-color);
        min-width: 200px;
        text-align: center;
        padding: 15px 25px;
        outline-offset: 0px;
        transition: all .3s ease-in-out;
        
        &:is(:hover) {
            outline: 2px solid #ffffff;
            outline-offset: 2px;
        }
        &:is(:active :focus) {
            outline-offset: 5px;
        }

    }

    @media only screen and (max-width: 759px) {
        flex-direction: column-reverse;
        gap: 15px;
        text-align: center;
        font-size: 17px;
        height: 100%;

        .btn {
            padding: 10px 20px;
        }
    }
}