.hero {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 95px);
    grid-template-areas: 
    "heroCard1 heroCard1 heroCard1 heroCard3 heroCard3 heroCard4 heroCard4"
    "heroCard1 heroCard1 heroCard1 heroCard3 heroCard3 heroCard4 heroCard4"
    "heroCard1 heroCard1 heroCard1 heroCard5 heroCard5 heroCard5 heroCard5"
    "heroCard2 heroCard2 heroCard2 heroCard5 heroCard5 heroCard5 heroCard5"
    "heroCard2 heroCard2 heroCard2 heroCard5 heroCard5 heroCard5 heroCard5"
    "heroCard7 heroCard7 heroCard7 heroCard7 heroCard6 heroCard6 heroCard6"
    "heroCard7 heroCard7 heroCard7 heroCard7 heroCard6 heroCard6 heroCard6";

    gap: 10px;

    &-card1 {
        grid-area: heroCard1;
    }
    &-card2 {
        grid-area: heroCard2;
    }
    &-card3 {
        grid-area: heroCard3;
    }
    &-card4 {
        grid-area: heroCard4;
    }
    &-card5 {
        grid-area: heroCard5;
    }
    &-card6 {
        grid-area: heroCard6;
    }
    &-card7 {
        grid-area: heroCard7;
    }

    &-cards {
        color: #ffffff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        position: relative;
        inset: 0;
        z-index: 0;

        &::after {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            inset: 0;
            background-color: #171717;
            z-index: -1;
            opacity: .4;
        }

        .category {
            margin-bottom: 10px;
            font-size: 18px;
            letter-spacing: 1px;

            position: relative;
            top: 0; left: 0; top: 0; bottom: 0;
            padding: 5px 0;
            
            transition: all .3s ease-in-out;
            
            
            &::after {
                content: '';
                position: absolute;
                left: 0; bottom: 0;
                height: 3px;
                width: 100%;
                max-width: 30px;
                background-color: var(--primary-color);
                transition: all .4s ease-in-out;
            }
        }

        .title {
            font-size: 18px;
        }



    }

    &-card5 {
        text-align: center;
        justify-content: center;
        align-items: center;

        .title {
            font-size: 25px;
            margin-bottom: 30px;
        }
    }

    // the breakpoints
    @media only screen and (max-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 150px);
        grid-template-areas:
        "heroCard1 heroCard1 heroCard3"
        "heroCard1 heroCard1 heroCard4"
        "heroCard2 heroCard2 heroCard2"
        "heroCard7 heroCard5 heroCard5"
        "heroCard7 heroCard5 heroCard5"
        "heroCard6 heroCard6 heroCard6";

        &-cards {
            .category {
                font-size: 16px;
            }
            .title {
                font-size: 17px;
            }
        }
    }

    // the breakpoints
    @media only screen and (max-width: 759px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 180px);
        grid-template-areas:
        "heroCard1 heroCard1"
        "heroCard3 heroCard4"
        "heroCard2 heroCard2"
        "heroCard5 heroCard5"
        "heroCard7 heroCard6";

        &-cards {
            .category {
                font-size: 14px;
            }
            .title {
                font-size: 16px;
            }
        }
    }

    // the breakpoints
    @media only screen and (max-width: 759px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 180px);
        grid-template-areas:
        "heroCard1"
        "heroCard3"
        "heroCard4"
        "heroCard2"
        "heroCard5"
        "heroCard7"
        "heroCard6";

        &-cards {
            .category {
                font-size: 14px;
            }
            .title {
                font-size: 16px;
            }
        }
    }
}

