.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: hidden;

    & > *:not(.navbar, .news-bar) {
        max-width: calc(var(--page-width) - var(--padding-x));
        margin: 10px auto;
        padding: 0 var(--padding-x);
    }

    .section-title {
        font-size: 1.5rem;
        color: #000000;
        margin-bottom: 15px;
    }
}