.posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .card {
        height: auto;
        width: 33%;

        .img {
            width: 100%;
        }
    }

}