.news-post {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    
    .post-filter {
        flex: 8 4 840px;
        width: 840px;
        
        .filter {
            background-color: #ffffff;
            margin-bottom: 25px;
            padding: 10px;
          
            display: flex; justify-content: space-between; align-items: center;
          
            &-items {
                display: flex;justify-content: flex-start; align-items: center;
                flex-wrap: wrap;
                gap: 20px;
                padding: 10px;
          
                .item {
                  text-transform: capitalize;
                }
          
                a {
                  color: inherit;
                  position: relative;
                  top: 0; left: 0; top: 0; bottom: 0;
                  padding: 5px 0;
                  
                  
                  &::after {
                    content: '';
                    position: absolute;
                    left: 0; bottom: 0;
                    height: 3px;
                    width: 0;
                    max-width: 30px;
                    background-color: var(--primary-color);
          
                    transition: all .3s ease-in-out;
                  }
          
                  &:is(.active, :hover)::after {
                    width: 100%;
                    max-width: 30px;
                  }
                }
            }
          
            .layout-btn {
              cursor: pointer;
          
              &:is(:hover, :active) svg {
                stroke: var(--primary-color);
              }
            }
        }
        
        .posts {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 30px;
            margin-bottom: 30px;
          
            &.grid .card {
              max-width: 405px;
            } 
            &.table .card {
              max-width: 100%;
              width: 100%;
            }
          
            .btn {
              margin: auto;
              min-width: 180px;
            }
        }

        .btn {
          margin: auto;
          display: block;
          width: fit-content;
        }
    }
    .aside-news {
        flex: 4 8 300px;
        height: 100px;
        width: 300px;
    }


    @media only screen and (max-width: 1210px) {
        gap: 30px;
        .post-filter {
            flex: 8 4 650px;
            width: 650px;
            
            .posts {
                gap: 10px;
                
                &.grid .card {
                  flex: 1 1 320px;
                  max-width: 320px;
                }
                .btn {
                    margin-top: 20px;
                }
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        flex-direction: column-reverse;
        gap: 30px;
        
        .post-filter {
            width: 100%;
            
            .posts {
                gap: 15px 2%;
                
                &.grid .card {
                    max-width: 49%;
                }
                
                .btn {
                    margin-top: 20px;
                }
            }
        }
        .aside-news {
            width: 100%;
            height: fit-content;
            flex: auto;
        }
    }

    @media only screen and (max-width: 500px) {
        .post-filter {
            .layout-btn {
                display: none;
            }
            .posts {
                &.grid .card {
                    max-width: 100%;
                }
            }
        }
    }
}

  