.news-post {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    
    .post-filter {
        flex: 8 4 840px;
        width: 840px;
        
        .filter {
            background-color: #ffffff;
            margin-bottom: 25px;
            padding: 10px;
          
            display: flex; justify-content: space-between; align-items: center;
          
            &-items {
                display: flex;justify-content: flex-start; align-items: center;
                padding: 10px;
          
                .item {
                  margin-right: 20px;
                  text-transform: capitalize;
                }
          
                a {
                  color: inherit;
                  position: relative;
                  top: 0; left: 0; top: 0; bottom: 0;
                  padding: 5px 0;
                  
                  
                  &::after {
                    content: '';
                    position: absolute;
                    left: 0; bottom: 0;
                    height: 3px;
                    width: 0;
                    max-width: 30px;
                    background-color: var(--danger-color);
          
                    transition: all .3s ease-in-out;
                  }
          
                  &:is(.active, :hover)::after {
                    width: 100%;
                    max-width: 30px;
                  }
                }
            }
          
            .layout-btn {
              cursor: pointer;
          
              &:is(:hover, :active) svg {
                stroke: var(--danger-color);
              }
            }
        }
        
        .posts {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 30px;
            margin-bottom: 30px;
            
            .card {
              height: auto;
              background-color: #ffffff;
          
              &-body {
                padding: 15px 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 220px;
              }
              
              img {
                  width: 100%;
                  height: 200px;
                  object-fit: cover;
              }
          
              &-title {
          
                margin-bottom: 10px;
          
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                        line-clamp: 3; 
                -webkit-box-orient: vertical;
              }
          
              &-text {
                font-size: 16px;
                color: #3e3e3e;
          
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                        line-clamp: 4; 
                -webkit-box-orient: vertical;
              }
          
              &-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 15px;
          
                .card-author {
                  color: rgb(55, 55, 55);
                  text-transform: capitalize;
                }
              }
          
              &.no-data {
                padding: 10px 20px;
                color: var(--danger-color);
              }
            }
          
            &.grid .card {
              flex: 1 1 405px;
              max-width: 405px;
            } 
            &.table .card {
              flex: 1 1 1;
              max-width: 100%;
            }
          
            .btn {
              margin: auto;
              min-width: 180px;
            }
        }

        .btn {
          margin: auto;
          display: block;
          width: fit-content;
        }
    }
    .aside-bar {
        flex: 4 8 300px;
        height: 100px;
        width: 300px;
    }


    @media only screen and (max-width: 1210px) {
        gap: 30px;
        .post-filter {
            flex: 8 4 650px;
            width: 650px;
            
            .posts {
                gap: 10px;
                
                &.grid .card {
                  flex: 1 1 320px;
                  max-width: 320px;
                }
                .btn {
                    margin-top: 20px;
                }
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        flex-direction: column-reverse;
        gap: 30px;
        
        .post-filter {
            width: 100%;
            
            .posts {
                gap: 15px 2%;
                
                &.grid .card {
                    max-width: 49%;
                }
                
                .btn {
                    margin-top: 20px;
                }
            }
        }
        .aside-bar {
            width: 100%;
            height: fit-content;
            flex: auto;
        }
    }

    @media only screen and (max-width: 500px) {
        .post-filter {
            .layout-btn {
                display: none;
            }
            .posts {
                &.grid .card {
                    max-width: 100%;
                }
            }
        }
    }
}

  