.navbar {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 7px 0px rgba(133, 133, 133, 0.4);
    background-color: #ffffffcd;
    &-content {
        width: calc(var(--page-width) - var(--padding-x));
        margin: 0 auto;
        
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px var(--padding-x);
    }

    .logo {
        flex: 2;
        text-align: left;

        height: 3.5em;
        will-change: filter;
        transition: filter 300ms;
        
        &:hover {
            filter: drop-shadow(0 0 1em #cecece);
        }
    }

    .menu {
        flex: 8;

        display: flex;
        justify-content: left;
        align-items: center;

        .navlist {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            li {
                margin-right: 25px;
            }

            &-item {
                color: var(--text-color);
            }
        }
    }
    .tools {
        flex: 2;
        text-align: right;

        svg {
            stroke: var(--text-color);
            transition: all .3s ease-in-out;
            margin-left: 10px;
    
            &:hover {
                stroke: var(--primary-color);
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        .menu {
            display: none;
        }
    }

}