.slider {
    width: calc(100% - 40px);

    .slider-container {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
        transition: transform .3s ease-in-out;

        .card {
            height: 170px;
            min-width: calc(80% - 20px);
            margin-right: 20px;
            background-color: #ffffff;
            color: #000000;
            
            
            &-body {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px;

                .card-img {
                    min-width: 200px;
                    height: 100%;
                    background-color: rgb(193, 193, 193);
                    margin-right: 10px;

                    position: relative;
                    inset: 0;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        inset: 0;
                        background-color: var(--primary-color);
                        opacity: 0;
                        transition: opacity .3s ease-in-out;
                    }
                    &-icon {
                        position: absolute;
                        top: 50%; left: 50%;
                        z-index: 1;
                        transform: translate(-50%, -50%) scale(1.5);
                        color: #ffffff;
                        opacity: 0;
                        transition: opacity .3s ease-in-out;
                    }
                }
                .title {
                    font-size: 16px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                            line-clamp: 2; 
                    -webkit-box-orient: vertical;
        
                }
                .text {
                    font-size: 15px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                            line-clamp: 4; 
                    -webkit-box-orient: vertical;
                }
            }

            &:hover, &:active {
                .card-img {
                    &::after {
                        opacity: .5;
                    }
                    &-icon {
                        opacity: 1;
                    }
                }
            }

        }
        
    }
    /* slider switch */
    .slider-controls {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slider-switch {
        display: block;
        width: 35px;
        height: 4px;
        background-color: rgb(160 160 160);
        cursor: pointer;
        margin-right: 20px;
        
        transition: all 0.3s ease-in-out;
        
        &:hover {
            background-color: var(--primary-color);
        }
        
        &.active {
            transform: scale(1.3);
            background-color: var(--primary-color);
        }
    }
}


@media only screen and (max-width: 1000px) {
    .slider {
        width: calc(100% - 20px);

        .slider-container {
            .card {
                min-width: calc(100% - 20px);
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .slider {
        width: calc(100% - 20px);

        .slider-container {
            .card {
                max-height: 140px;
                img {
                    width: 100%;
                    min-width: 130px;
                }
                .title {
                    font-size: 16px;
                    margin-bottom: 5px;
        
                }
                .text {
                    font-size: 14px;
                    -webkit-line-clamp: 3;
                            line-clamp: 3;
                }
            }
        }
    }
}