@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  list-style: none;
  text-decoration: none;
}


// set the themes colors
:root {
  --bg-color: #ffffff;
  --bg-color-light: #a8a8a8;
  --text-color: #000000;
}

// set the main variabels color
:root {
  // page max width
  --page-width: 1300px;

  // padding horizontal
  --padding-x: 20px;


  // braek points widths
  --braek-point-lg: 1200px;
  --braek-point-md: 900px;
  --braek-point-sm: 759px;
  --braek-point-xs: 559px;
  
}

// color variabels
:root {
  // main colors
  --primary-color: #0E1E32;
  --primary-color-inverse: #ffffff;


  // other colors
  --danger-color: rgb(255, 63, 63);
}


.loader-icon {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
