@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  list-style: none;
  text-decoration: none;
}


// set the themes colors
:root {
  --bg-color: #ffffff;
  --bg-color-light: #a8a8a8;
  --text-color: #000000;
}

// set the main variabels color
:root {
  // page max width
  --page-width: 1300px;

  // padding horizontal
  --padding-x: 20px;


  // braek points widths
  --braek-point-lg: 1200px;
  --braek-point-md: 900px;
  --braek-point-sm: 759px;
  --braek-point-xs: 559px;
  
}

// color variabels
:root {
  // main colors
  --primary-color: #0E1E32;
  --primary-color-inverse: #ffffff;


  // other colors
  --danger-color: rgb(255, 63, 63);
}

body {
  background-color: #E5E5E5;
}

// import the style
@import './assets/style/buttons.scss';
@import './assets/style/animations.scss';

.loader-icon {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter {
  background-color: #ffffff;
  margin-bottom: 25px;
  padding: 10px;

  display: flex; justify-content: space-between; align-items: center;

  &-items {
      display: flex;justify-content: flex-start; align-items: center;
      padding: 10px;

      .item {
        margin-right: 20px;
      }

      a {
        color: inherit;
        position: relative;
        top: 0; left: 0; top: 0; bottom: 0;
        padding: 5px 0;
        
        
        &::after {
          content: '';
          position: absolute;
          left: 0; bottom: 0;
          height: 3px;
          width: 0;
          max-width: 30px;
          background-color: var(--danger-color);

          transition: all .3s ease-in-out;
        }

        &:is(.active, :hover)::after {
          width: 100%;
          max-width: 30px;
        }
      }
  }

  .layout-btn {
    cursor: pointer;

    &:is(:hover, :active) svg {
      stroke: var(--danger-color);
    }
  }
}

.posts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  
  .card {
    height: auto;
    background-color: #ffffff;

    &-body {
      padding: 15px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 220px;
    }
    
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    &-title {

      margin-bottom: 10px;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
              line-clamp: 3; 
      -webkit-box-orient: vertical;
    }

    &-text {
      font-size: 16px;
      color: #3e3e3e;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
              line-clamp: 4; 
      -webkit-box-orient: vertical;
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 15px;

      .card-author {
        color: rgb(55, 55, 55);
        text-transform: capitalize;
      }
    }

    &.no-data {
      padding: 10px 20px;
      color: var(--danger-color);
    }
  }

  &.grid .card {
    flex: 1 1 405px;
    max-width: 405px;
  } 
  &.table .card {
    flex: 1 1 1;
    max-width: 100%;
  }

  .btn {
    margin: auto;
    min-width: 180px;
  }
}
