@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  list-style: none;
  text-decoration: none;
}

#root {
  max-width: 1280px;
}


// set the themes colors
:root {
  --bg-color: #ffffff;
  --bg-color-light: #a8a8a8;
  --text-color: #000000;
}

// set the main variabels color
:root {
  --primary-color: blue;
  --primary-color-inverse: #ffffff;

  --secondary-color: red;
  --scondary-color-inverse: #000000;
}
